html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
------------------------------------------------------------------------------
CSS starts here---------------------------------------------------------------
------------------------------------------------------------------------------
*/
* {
    user-select: none;
}
.header {
    position: relative;
    height: 20vh;
}
.icons {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
    height: 3.5vh;
}
.icons > div {
    height: 100%;
    background-color: lightgrey;
}
.minesCounter, .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    border: solid black 1px;
    font-size: 140%;
}
.resetButton {
    width: 2.5vw;
    border: solid black;
    border-width: 1px 0;
}

.game {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    width: var(--tileSize);
    height: var(--tileSize);
    border: solid black 1px;
    background-color: grey;
    box-sizing: border-box;
}
:root {
    --tileSize: 10%;
    --headerHeight: 10%;
}